body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}
.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto 0 auto;
  padding: 30px;
  padding-top: 90px;
  padding-bottom: 150px;
  text-align: center;
  min-height: 100%;
  position: relative;
}

a,a:hover {
  color: #3F93EC;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.mb-30 {
  margin-bottom: 30px !important;
}

header img {
  width: 100%;
  max-width: 300px;
  display: inline-block;
}

header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
header h1 small {
  font-size: 24px;
  font-weight: 400;
}
ul.roles {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
}
ul.roles li {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 24px;
  display: block;
  color: #909090;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}

.availability {
  font-weight: 800;
  color: #39C24A;
  margin-bottom: 15px;
}
.availability__red {
  color: #C23939;
}

.label {
  padding: 6px 15px;
  background-color: #F2F2F2;
  border: 1px solid #E1E1E1;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 5px;
}
.label .muted {
  color: #909090;
}

.findme {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.findme p{
  color: #909090;
}

.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-bottom: 30px;
}
.social-icons li {
  display: inline-block;
  margin: 0 15px;
}
.social-icons li a {
  display: block;
  width: 64px;
  height: 64px;
  color: #ffffff;
  border-radius: 32px;
  font-size: 20px;
  line-height: 64px;
}
.social-icons li a:hover {
  text-decoration: none;
}
.social-icons li.dribbble a {background-color: #EA4C89;}
.social-icons li.linkedin a {background-color: #0072B1;}
.social-icons li.email a {background-color: #4285F4;}
.social-icons li.instagram a {background-color: #4F5BD5;}